<%- include('partials/signup-header'); -%>
    <nav>
        <div class="brand-name">
            <a href="/"><i class="fa-solid fa-house"></i></a>
        </div>
        <div class="staff-signup">
            <% let link = ""; %>
            <% if (user.may === 'admin') { %>
                <p>Not an <%= user.may %>?</p> %>
                <% link = '/customer/login' %>
            <% } else { %>
                <p>Not a <%= user.may %>?</p>
                <% link = '/' + user.maynot + '/login' %>
            <% } %>
            <button onclick="window.location.href= '<%= link %>';" class="button-33" role="button" type="submit"><%= user.maynotCapital %>
                Login</button>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner">
                    <div class="box">
                        <h2>Let us get you logged in.</h2>
                        <p>Our registeration process is quick and easy, taking no more than a minute to complete.</p>
                    </div>
                    <div class="testimonial">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="testimony-item">
                                        <p>I'm impressed with the results I've seen since starting to use this product.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium,
                                            explicabo.</p>
                                        <div class="signature">
                                            <span class="profile-picture">
                                                <img class="Jones-Kim-dp profile" src="/images/Kim Jonas.png"
                                                    alt="Jones Kim DP">
                                            </span>
                                            <h4>Jones Kim</h4>
                                            <p>Product Designer</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="testimony-item">
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium dolor
                                            consequatur unde iusto dolorem veritatis suscipit similique quis neque
                                            eaque? Commodi, cum doloribus!</p>
                                        <div class="signature">
                                            <span class="profile-picture">
                                                <img class="Angelina-Jolly-dp profile" src="images/Angelina Jolly.png"
                                                    alt="Angelina Jolly DP">
                                            </span>
                                            <h4>Angelian Jolly</h4>
                                            <p>Developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 
                    -->
                    </div>
                </div>
            </div>

            <!-- Login Section -->
            <div class="col-lg-6">
                <section class="login">
                    <div class="container">
                        <h2><%= user.mayCapital %> Login</h2>
                        <p>Create your account below</p>
                        <form action="/login" method="post">
                            <div class="form-group wrap-input">
                                <input type="email" name="username" class="form-control form-input" placeholder="Email">
                                <span class="focus-input"></span>
                                <span class="symbol-input">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                            </div>
                            <div class="form-group wrap-input">
                                <input type="password" name="password" class="form-control form-input"
                                    placeholder="Password">
                                <span class="focus-input"></span>
                                <span class="symbol-input">
                                    <i class="fa-solid fa-lock"></i>
                                </span>
                            </div>

                            <button type="submit" class="button-64" name="userType" role="button" value="<%= user.may %>"><span class="text">Log In</span></button>
                            <% let signupLink = ""; %>
                            <% if (user.may === 'admin') { %>
                                <% signupLink = '/signup/' + user.may; %>
                            <% } else { %>
                                <% signupLink = '/' + user.may + '/signup'; %>
                            <% } %>
                            <p class="forgot-email">Don't have an account? <a href="<%= signupLink %>">Sign Up</a></p>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>